
<div id="" class="container w-100 mb-7" style="padding: 5px;">
  <h1 class="text-center">My sweet trips</h1>
<%# MAP %>

<div id='map' class="mb-3 rounded-3" style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <div class="row">
    <% @trips.order("start_date ASC").each do |trip| %>
      <div id="bordenha" class="col-12 d-flex justify-content-center shadow" style="margin-bottom: 20px;">
          <div class="col-lg-4 col-md-6 col-sm-8 justify-content-center bg-primary position-relative" style="border-radius: 14px 0 0 14px;">
            <div class="row">
              <div class="col-12 display-inline text-white ps-5 mt-2"><h2 class="trip-name"><%= trip.address%></h2></div>
              <div class="col-12 display-inline text-white ps-5"><p>From: <%= trip.start_date %></p>
                <p>To: <%= trip.end_date %></p>
                <%= link_to 'Find buddies!', search_path(trip), class: "btn btn-secondary", id: "find-buddies", style: "border-radius: 12px; margin-bottom: 9px;" %>
                <div class="col-12 text-white trash-can">
                <%= link_to trip_path(trip), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?"}, class: "text-white-50" do%>
                  <i class="fa-solid fa-trash-can "></i>
                <% end %>
                </div>
              </div>
            </div>
            <%if trip.user.avatar.key%>
                <%= cl_image_tag(trip.user.avatar.key, width: 90, height: 90, crop: :thumb, gravity: :face, class: "avatar-position", id: "profile-img-banner") %>
            <%else %>
             <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" id="profile-img-banner" alt="">
            <%end%>
          </div>

          <div id="banner-image" class="col-lg-8 col-md-6 col-sm-4 d-flex justify-content-center bg-primary" style="border-radius: 0 14px 14px 0">
          <%# PUT THE CODE BELOW INTO A PARTIAL AND USE CASE WHEN %>
          <%if trip.sport == "Surfing"%>
            <%= cl_image_tag("surfing_3_pa7grz")%>
          <%elsif trip.sport == "Skateboarding"%>
            <%= cl_image_tag("banner-sakte_hdolgx", crop: :fill)%>
          <%elsif trip.sport == "Hiking"%>
             <%= cl_image_tag("hikking_2_akq5yy", crop: :fill)%>
          <%elsif trip.sport == "Skiing/Snowboarding"%>
            <%= cl_image_tag("skiing_2_da5gzs", crop: :fill)%>
          <%elsif trip.sport == "Paragliding"%>
            <%= cl_image_tag("paragliding_1_xkjskz", crop: :fill)%>
          <%else trip.sport == "Mountain Bike"%>
            <%= cl_image_tag("bike_2_rura79", crop: :fill)%>
          <%end%>
          </div>
      </div>
    <% end %>
  </div>
</div>
