
<div class="container w-75">
  <h1 class="text-center">My sweet trips</h1>
  <div class="row g-2 justify-content-center shadow mt-1">
      <% @trips.each do |trip| %>
          <div class="col d-flex">
            <div class="card-product">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-12 shadow">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Trip to: <%=trip.address%></h5>
                        <p>From: <%= trip.start_date %></p>
                        <p>To:<%= trip.end_date %></p>
                        <p class="card-text">Click the button to find buddies!</p>
                        <%= link_to 'Find buddies!', search_path(trip), class: "btn btn-primary" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%= link_to 'Trip details', trip_path(trip), class: "text-decoration-none" %>
            </div>
          </div>
      <% end %>
    </div>
</div>
