
<div id="" class="container w-100 mb-7" style="padding: 5px;">
<h1 class="text-center">My sweet trips</h1>
<%# MAP %>

<div id='map' class="mb-3 rounded-3" style="width: 100%; height: 400px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<%# Trip Cards %>
  <div class="row">
    <% @trips.each do |trip| %>
      <div id="bordenha" class="card-product col d-flex justify-content-center shadow" style="margin-bottom: 20px;">
          <div class="col-4 d-flex justify-content-center bg-primary" style="border-radius: 10px;">
            <div class="row">
              <div class="col-12 display-inline text-white ps-5 mt-2"><h2><%= trip.address%></h2></div>
              <div class="col-12 display-inline text-white ps-5"><p>From: <%= trip.start_date %></p>
                <p>To: <%= trip.end_date %></p>
                <%= link_to 'Find buddies!', search_path(trip), class: "btn btn-secondary", style: "border-radius: 10px; margin-bottom: 9px;" %>
              </div>
            </div>
            <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, "#", style: "transform: translateY(153px);", class: "text-secondary" %>
            <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, "#", style: "transform: translateY(153px);", class: "text-secondary", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete"}%>
            <%if trip.user.avatar.key%>
                <%= cl_image_tag(trip.user.avatar.key, width: 90, height: 90, crop: :thumb, gravity: :face, class: "avatar-large position-relative avatar-position", id: "profile-img-banner") %>
            <%else %>
             <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" id="profile-img-banner" alt="">
            <%end%>
          </div>
          <div id="banner-image" class="card-body col-8 d-flex justify-content-center bg-primary">

          <%# PUT THE CODE BELOW INTO A PARTIAL AND USE CASE WHEN %>
          <%if trip.sport == "Surfing"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill,g_auto,h_150,w_910/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132734/development/surfing_3_pa7grz.jpg" alt="">
          <%elsif trip.sport == "Skateboarding"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill,g_auto,h_150,w_910/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132758/development/banner-sakte_hdolgx.jpg" alt="">
          <%elsif trip.sport == "Hiking"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill,g_auto,h_150,w_910/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132743/development/hikking_2_akq5yy.jpg" alt="">
          <%elsif trip.sport == "Skiing/Snowboarding"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill,g_auto,h_150,w_910/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132759/development/skiing_2_da5gzs.jpg" alt="">
          <%elsif trip.sport == "Paragliding"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill,g_auto,h_150,w_910/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132761/development/paragliding_1_xkjskz.jpg" alt="">
          <%else trip.sport == "Mountain Bike"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill,g_auto,h_150,w_910/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132761/development/bike_2_rura79.jpg" alt="">
          <%end%>
          </div>
      </div>
    <% end %>
  </div>
</div>
