<% available = true%>

<div class="container">
  <div class="row">
    <div class="col-12 justify-content-center">
      <h2>Invite buddies to meet!</h2>
    </div>
  </div>
</div>



<div class="container w-100" style="padding: 5px;">
  <div class="row w-100">
      <div class="card-product col d-flex justify-content-center shadow">
          <div class="col-3 d-flex justify-content-center bg-success">
             <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" id="trip-img" alt="">
          </div>
          <div class="card-body col-9 d-flex justify-content-center bg-primary">
            <h2> Trip to <%= @trip.address%></h2>
            <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, "#" %>
            <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, "#", class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete"}%>
          </div>
      </div>
  </div>
</div>


<div class="container w-100 mt-3">
  <div class="row justify-content-start g-6 mb-3">
    <% @trips.map do |trip| %>
      <% if trip.start_date.to_datetime.between?(@trip.start_date.to_datetime, @trip.end_date.to_datetime) || trip.end_date.to_datetime.between?(@trip.start_date.to_datetime, @trip.end_date.to_datetime)%>
        <% available = true%>
      <% else %>
        <% available = false %>
      <% end %>
      <% if trip.user == current_user %>
        <% available = false %>
      <% end %>
      <%if available %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex" id="search-card">
          <div class="card mt-3 card-div" style="width: 18rem;">
            <div class="d-flex justify-content-center mt-3">
                <% if trip.user.avatar.key %>
                  <%= cl_image_tag(trip.user.avatar.key, width: 120, height: 120, crop: :thumb, gravity: :face, class: "avatar-xlarge") %>
                <% else %>
                  <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-xlarge" alt="">
                <% end %>
            </div>
            <div class="box p-2">
              <h6 class="text-center mt-3"><%= trip.user.first_name %> <%= trip.user.last_name %></h6>
              <p class="card-text"><%= trip.user.bio %></p>
              <div class="card-body d-flex">
                <div class="col-6 d-flex justify-content-center">
                  <%= link_to 'See Profile', user_path(trip.user), class: "card-link btn btn-primary"%>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <a href="#" class="card-link"><i class="fa-regular fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <% end %>
  </div>



</div>
