<% available = true%>

<div class="container">
  <div class="row">
    <div class="col-12 justify-content-center">
      <h2>Invite buddies to meet!</h2>
    </div>
  </div>
</div>


<div id="" class="container w-100 mb-7" style="padding: 5px;">
  <div class="row">
      <div id="bordenha" class="card-product col d-flex justify-content-center shadow" style="margin-bottom: 20px;">
          <div class="col-lg-4 col-md-6 col-sm-8 justify-content-center bg-primary" style="border-radius: 14px 0 0 14px;">
            <div class="row">
              <div class="col-12 display-inline text-white ps-5 mt-2"><h2><%= @trip.address%></h2></div>
              <div class="col-12 display-inline text-white ps-5"><p>From: <%= @trip.start_date %></p>
                <p>To: <%= @trip.end_date %></p>
              </div>
            </div>
           <%if @trip.user.avatar.key%>
                <%= cl_image_tag(@trip.user.avatar.key, width: 90, height: 90, crop: :thumb, gravity: :face, class: "avatar-large position-relative avatar-position", id: "profile-img-search") %>
            <%else %>
             <img id="profile-img-search" src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" alt="">
            <%end%>
          </div>
          <div id="banner-image" class="card-body col-8 d-flex justify-content-center bg-primary" style="border-radius: 0 14px 14px 0">
          <%if @trip.sport == "Surfing"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132734/development/surfing_3_pa7grz.jpg" alt="">
          <%elsif @trip.sport == "Skateboarding"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132758/development/banner-sakte_hdolgx.jpg" alt="">
          <%elsif @trip.sport == "Hiking"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132743/development/hikking_2_akq5yy.jpg" alt="">
          <%elsif @trip.sport == "Skiing/Snowboarding"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132759/development/skiing_2_da5gzs.jpg" alt="">
          <%elsif @trip.sport == "Paragliding"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132761/development/paragliding_1_xkjskz.jpg" alt="">
          <%else @trip.sport == "Mountain Bike"%>
            <img src="https://res.cloudinary.com/dr1gsplto/image/upload/c_fill/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative/v1662132761/development/bike_2_rura79.jpg" alt="">
          <%end%>
          </div>
      </div>
  </div>
</div>


<div class="container w-100 mt-3">
  <div class="row justify-content-start g-6 mb-3">
    <% @trips.map do |trip| %>
      <% if trip.start_date.to_datetime.between?(@trip.start_date.to_datetime, @trip.end_date.to_datetime) || trip.end_date.to_datetime.between?(@trip.start_date.to_datetime, @trip.end_date.to_datetime)%>
        <% available = true%>
      <% else %>
        <% available = false %>
      <% end %>
      <% if trip.user == current_user %>
        <% available = false %>
      <% end %>
      <%if available %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex" id="search-card">
          <div class="card mt-3 card-div" style="width: 18rem;">
            <div class="d-flex justify-content-center mt-3">
                <% if trip.user.avatar.key %>
                  <%= cl_image_tag(trip.user.avatar.key, width: 120, height: 120, crop: :thumb, gravity: :face, class: "avatar-xlarge") %>
                <% else %>
                  <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-xlarge" alt="">
                <% end %>
            </div>
            <div class="box p-2">
              <h6 class="text-center mt-3"><%= trip.user.first_name %> <%= trip.user.last_name %></h6>
              <p class="card-text"><%= trip.user.bio %></p>
              <div class="card-body d-flex">
                <div class="col-6 d-flex justify-content-center">
                  <%= link_to 'See Profile', user_path(trip.user), class: "card-link btn btn-primary"%>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <a href="#" class="card-link"><i class="fa-regular fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    <% end %>
  </div>



</div>
