<% available = true%>


<div class="row">
    <div id="bordenha" class="col-12 d-flex justify-content-center shadow" style="margin-bottom: 35px;">
      <div class="col-lg-4 col-md-6 col-sm-8 justify-content-center bg-primary position-relative" style="border-radius: 14px 0 0 14px;">
        <div class="row">
          <div class="col-12 display-inline text-white ps-5 mt-2"><h2 class="trip-name"><%= @trip.address%></h2></div>
          <div class="col-12 display-inline text-white ps-5"><p>From: <%= @trip.start_date %></p>
            <p>To: <%= @trip.end_date %></p>
            <div class="col-12 text-white ps-15">
            </div>
          </div>
        </div>
        <%if @trip.user.avatar.key%>
          <%= cl_image_tag(@trip.user.avatar.key, width: 90, height: 90, crop: :thumb, gravity: :face, class: "avatar-position", id: "profile-img-banner") %>
        <%else %>
            <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" id="profile-img-banner" alt="">
        <%end%>
        </div>
        <div id="banner-image" class="col-lg-8 col-md-6 col-sm-4 d-flex justify-content-center bg-primary" style="border-radius: 0 14px 14px 0">
          <%# PUT THE CODE BELOW INTO A PARTIAL AND USE CASE WHEN %>
          <%if @trip.sport == "Surfing"%>
            <%= cl_image_tag("surfing_3_pa7grz", crop: :fill)%>
          <%elsif trip.sport == "Skateboarding"%>
            <%= cl_image_tag("banner-sakte_hdolgx", crop: :fill)%>
          <%elsif trip.sport == "Hiking"%>
             <%= cl_image_tag("hikking_2_akq5yy", crop: :fill)%>
          <%elsif trip.sport == "Skiing/Snowboarding"%>
            <%= cl_image_tag("skiing_2_da5gzs", crop: :fill)%>
          <%elsif trip.sport == "Paragliding"%>
            <%= cl_image_tag("paragliding_1_xkjskz", crop: :fill)%>
          <%else trip.sport == "Mountain Bike"%>
            <%= cl_image_tag("bike_2_rura79", crop: :fill)%>
          <%end%>
        </div>
    </div>
</div>


    <div class="col-12 d-flex justify-content-center">
      <h2>Invite buddies to meet!</h2>
    </div>
<div class="row">
  <%= simple_form_for :invitation, :url => new_chatroom_path, :method => :get do |f| %>
  <div class="container w-100 mt-3">
    <div class="row justify-content-center g-4 mb-3">
      <% @trips.map do |trip| %>
        <% if trip.start_date.to_datetime.between?(@trip.start_date.to_datetime, @trip.end_date.to_datetime) || trip.end_date.to_datetime.between?(@trip.start_date.to_datetime, @trip.end_date.to_datetime)%>
          <% available = true%>
        <% else %>
          <% available = false %>
        <% end %>
        <% if trip.user == current_user %>
          <% available = false %>
        <% end %>
        <%if available %>
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex w-fit-content" id="search-card">
            <div class="card pt-0.5 card-div" style="width: 18rem;">
              <div class="d-flex justify-content-center">
                  <% if trip.user.avatar.key %>
                    <%= cl_image_tag(trip.user.avatar.key, width: 120, height: 120, crop: :thumb, gravity: :face, class: "avatar-card-xlarge") %>
                  <% else %>
                    <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-card-xlarge" alt="">
                  <% end %>
              </div>
              <div class="box p-2">
                <h6 class="text-center mt-3"><%= trip.user.first_name %> <%= trip.user.last_name %></h6>
                <p class="card-text"><%= trip.user.bio %></p>
                <div class="card-body d-flex">
                  <div class="col-6 d-flex justify-content-center">
                    <%= f.check_box :invite, {multiple: true, class: "hidden-checkbox"}, trip.user.id %>
                    <label class= "card-link btn btn-outline-primary rounded-pill" for="invitation_invite_<%=trip.user.id%>">Invite</label>
                  </div>
                  <div class="col-6 d-flex justify-content-center">
                    <%= link_to 'See Profile', user_path(trip.user), class: "card-link btn btn-outline-secondary rounded-pill"%>
                    <%# <a href="#" class="card-link"><i class="fa-regular fa-heart"></i></a> %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
</div>
   <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary rounded-pill" data-modal-target="show-modal" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Create Chatroom
  </button>
<% end %>
</div>

  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-controller="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Chatroom name:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
              <%= simple_form_for @chatroom do |f| %>
                <%= f.input :name %>
          <% @trips.map do |trip| %>
              <% user = trip.user.id %>
                <%= f.input :user, :as => :hidden, :input_html => { :value => user } %>
          <% end %>
                <div class="modal-footer">
                  <%= f.submit "Create Chatroom", class: "btn btn-primary"%>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
