<div class="container">
  <%= simple_form_for @user do |f| %>
    <%= f.input :avatar, as: :file %>
    <%= f.input :banner, as: :file %>
    <%= f.input :bio %>
    <%= f.input :sport_one,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Trip::SPORTS %>
    <%= f.input :sport_two,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Trip::SPORTS %>
    <%= f.input :sport_three,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Trip::SPORTS %>
    <%= f.submit %>
  <% end %>
</div>
