<h1>All User (index) #test</h1>

<div class="container w-100" style="padding: 5px;">
  <div class="row w-100">
      <div class="card-product col d-flex justify-content-center shadow">
          <div class="col-3 d-flex justify-content-center bg-success">
             <h2> Darker column </h2>
             <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" alt="">
          </div>
          <div class="card-body col-9 d-flex justify-content-center bg-primary">
            <h2> Trip to "name_of_the_trip"</h2>
            <p> Trip description </p>
            <%= link_to '<i class="fa-solid fa-pen-to-square"></i>'.html_safe, "#" %>
            <%= link_to '<i class="fa-solid fa-trash-can"></i>'.html_safe, "#", class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete"}%>
          </div>
      </div>
  </div>
</div>

<div class="container w-100">
  <% @users.each do |user| %>
    <div class="row justify-content-start g-6">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex">
          <div class="card mt-3" style="width: 18rem;">
            <div class="d-flex justify-content-center mt-3">
              <img class="place-holder-img avatar-large" src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" alt="">
            </div>
            <div class="box card-body">
              <h6 class="text-center mt-3"><%= user.first_name %> <%= user.last_name %></h6>
              <p class="card-text"><%= user.bio %></p>
              <div class="card-body d-flex">
                <div class="col-6 d-flex justify-content-center">
                  <a href="#" class="card-link btn btn-primary">Invite</a>
                </div>
                <div class="col-6 d-flex justify-content-center">
                  <a href="#" class="card-link"><i class="fa-regular fa-heart"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
