<div class="container-xl">
  <div class="row">
    <div class="col-3">
      <% if @user.avatar.key %>
        <%= cl_image_tag(@user.avatar.key, width: 90, height: 90, crop: :thumb, gravity: :face, class: "avatar-large") %>
      <% else %>
        <img src="https://monstar-lab.com/global/wp-content/uploads/sites/11/2019/04/male-placeholder-image.jpeg" class="avatar-large" alt="">
      <% end %>
      <h2><%= "#{@user.first_name} #{@user.last_name}" %></h2>
      <p><%= @user.bio %></p>
    </div>
    <div class="col-6 border-start border-end border-primary">
    </div>
    <div class="col-3">
      <h2>Create your Trip</h2>
      <%= simple_form_for @trip do |t| %>
        <%= t.input :address, placeholder: 'City, State and Country' %>
        <%= t.input :sport %>
        <%= t.input :start_date %>
        <%= t.input :end_date %>
        <%= t.submit "Add Trip" %>
      <% end %>
    </div>
  </div>
</div>
