<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top" data-controller="notification-subscription" data-notification-subscription-user-id-value="<%= current_user.id if current_user%>">
<%# data-controller="notification-subscription" data-notification-subscription-user-id-value="<%= current_user.id if current_user %>
  <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= cl_image_tag("GT_2_f0qmwf")%>
      <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active home-icon">
            <%= link_to '<i class="fa-solid fa-house"></i>'.html_safe, user_path(current_user) %>
          </li>
          <li class="nav-item active trip-icon">
            <%= link_to '<i class="fa-solid fa-plane-departure"></i>'.html_safe, trips_path %>
          </li>
          <li class="nav-item chatroom-icon">
            <%= link_to '<i class="fa-solid fa-message"></i>'.html_safe, chatrooms_path %>
          </li>
          <li class="nav-item position-relative note-icon">
            <%= link_to '<i class="fa-solid fa-bell"></i>'.html_safe, notifications_path %>
            <div class="notification" data-notification-subscription-target="notify" ></div>
            <% if Notification.where(recipient: @current_user).where(read_at: nil).count > 0 %>
              <div class="notification active"></div>
            <% else %>
              <div class="notification"></div>
              <%# data-notification-subscription-target="notify %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-link border-0 bg-white" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
