<div class="navbar navbar-expand-sm navbar-light navbar-lewagon-home fixed-top" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar" %>
  <div class="container-fluid">
    <% if user_signed_in? %>
      <%= link_to user_path(current_user), class: "navbar-brand" do %>
        <%= cl_image_tag("GT_2_f0qmwf")%>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= cl_image_tag("GT_2_f0qmwf")%>
        <h5 class="navbar-name d-inline">Get Together</h5>
      <% end %>
    <% end %>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active" style="position: relative; left: 35px;">
            <%= link_to "Profile", user_path(current_user), class: "nav-buttons nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "Trips", trips_path , class: "nav-buttons nav-link" %>
          </li>
          <li class="nav-item" style="position: relative; left: -8px;">
            <%= link_to "Chat Groups", chatrooms_path, class: "nav-buttons nav-link" %>
          </li>
          <li class="nav-item" style="position: relative; left: 8px;">
            <%= link_to "Notification", notifications_path, class: "nav-buttons nav-link" %>
            <div class="notification" data-notification-subscription-target="notify"></div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-link border-0 bg-transparent text-white-50" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white-50" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
