
<div class="container card-albums">
  <div class="row">
    <% @albums.each do |album| %>
      <% if album.trip.user == current_user %>
        <div class="col-3">
          <div class="card" style="width: 18rem;">
            <%= link_to album_path(album), class: "card-hover-effect" do %>
              <% if album.photos.attached? %>
                <%= cl_image_tag album.photos.first.key, height: 180, width: 250, crop: :fill %>
              <% else %>
                <img style="height: 180px; width: 250px; crop: fill;" src="https://www.agora-gallery.com/advice/wp-content/uploads/2015/10/image-placeholder.png" alt="">
              <% end %>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to album.name, album_path(album) %></h5>
              <p class="card-text">From <%= album.trip.start_date %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">to <%= album.trip.end_date %></li>
              <li class="list-group-item"><small>Last updated <%= album.updated_at %></small></li>
            </ul>
            <div class="card-body">
              <%= link_to 'Add photos <i class="fa-solid fa-arrow-up-from-bracket"></i>'.html_safe, edit_album_path(album) %>
              <%= link_to ' Delete  <i class="far fa-trash-alt" style="font-size: 15px;"></i>'.html_safe, album_path(album), data: { turbo_method: :delete, turbo_confirm: "You WON'T be able to RECOVER the album and it's photos. Are you sure you want to Delete?" } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
